<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="Checkout - Suramericana - Marketplace" />

<body>
    <div id="notification_bar"></div>

    <header th:substituteby="layout/partials/headerCheckout" />
    
    <div id="checkout_content" class="width_setter group" role="main">
    
        <div th:substituteby="${templateName}" />
    
    </div>

    <footer th:substituteby="layout/partials/footer" />

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $().ready(function() {
            $('#paymentOptions dd').css({display:"none"});
            $('#paymentMethod_cc').click();
            $('#shipping_info').validate({
                rules: {
                    'address.firstName': "required",
                    'address.lastName': "required",
                    'address.addressLine1': "required",
                    'address.city': "required",
                    'address.state': "required",
                    'address.emailAddress' : "required"
                },
                messages: {
                    'address.firstName': "Por favor ingresa tu nombre." + "<br/>",
                    'address.lastName': "Por favor ingresa tus apellidos." + "<br/>",
                    'address.addressLine1': "Por favor ingresa tu direcci&oacute;n." + "<br/>",
                    'address.city': "Por favor ingresa tu ciudad." + "<br/>",
                    'address.state': "Por favor ingresa tu departamento." + "<br/>",
                    'address.emailAddress' : "Por favor ingresa un Email v&aacute;lido." + "<br/>"
                },
                errorPlacement: function(error, element) {
                    $(element).parent().append(error);
                },
                highlight: function(element, errorClass) {
                    $(element).addClass('fieldError');
                },
                unhighlight: function(element, errorClass) {
                    $(element).removeClass('fieldError');
                },
                errorElement: "div",
                errorClass: "error"
            });

        });
        /*]]>*/
    </script>

</body>
</html>
