<div id="account">  
    <div style="display:none;" th:fragment="title" th:inline="text">Recordar Contrase&ntilte;a - Suramericana - Marketplace</div>
    
    <div id="forgotPassword">
        <h3>Recordar Contrase&ntilte;a</h3>
        <p>Ingrese su email para recibir su contrase&ntilde;a.</p>  
        
        <span class="error" th:switch="${errorCode}" th:if="${errorCode}"> 
            <p th:case="'invalidCustomer'">No se ecnontr&oacute; email registrado.</p>
            <p th:case="'inactiveCustomer'">El email ingresado se encuentra inactivo.   Por favor contacte al administrador para activar tu cuenta.</p>
            <p th:case="*">error desconocido.</p> 
        </span>
                    
        <blc:form id="forgotPasswordForm" th:action="@{/login/forgotPassword}" method="post" class="clearfix">
            <div class="form50">
                <label for="emailAddress">Email</label>
                <input type="email" name="emailAddress" class="field50" />
            </div>
            <div class="login_register">
                <input class="reset_password_button big red" type="submit" value="Recordar contrase&ntilde;a"/>
            </div>
            <div class="login_register_alt_links">
                <a class="account" th:href="@{/login}">Ingresar</a> 
                <br/>
                <a class="account" th:href="@{/register}">Registrarse</a>
            </div>
        </blc:form>
    </div>
</div>